button{
    color: white;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    border: none;
    align-items: center;
    height: 30px;
    width: 150px;
}
body{
    text-align: center;
}